<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Weather</title>
</head>

<body>
    <main>
        {{>header}}
        <center>
            <form onsubmit="onSubmit(event)">
                <input type="text" placeholder="Location" name='location' value='etawah' required>
                <button type=submit>Submit</button>
            </form>

            <div class="card flex"></div>
        </center>
    </main>
</body>
<script src="script.js"></script>
</html>